:root {
    --color-uno:#0A3871;
    --color-dos: #F3F5FC;
    --color-tres:#495057;
    --color-cuatro:#ffffff;
    --color-quinto:#343A40;
    --color-hover: #185abd;
    --fuente-inter: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

html {
    font-size: 62.5%; 
}

body{
    background-color:  var(--color-dos);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.inactive{
    display: none;
}

.header{
    padding: 3.2rem 0 3.2rem 1.6rem;
    width: 100%;
    height: 9.6rem;
}

.iconoEncriptador{
    width:3.2rem;
    height: 4.8rem;
}

.divIconoEmuladorHeader{
    display: none;
}

.main{
     padding: 0 1.6rem;   
     display: flex;
     flex: 1;
     flex-direction: column;
     gap: 2rem;
     height: 100%;
     overflow-y: auto;
}

.sectionEncriptado{
    display: flex;
    flex-direction: column;
}

.divTextoIngresado{
    padding: 25px 0px 25px 0px;
    height: auto;
}

#textoIngresado{
    font-family: var(--fuente-inter);
    font-weight: 400;
    color: var(--color-uno);
    background-color:  var(--color-dos);
    font-size: 3.2rem;
    width: 100%;
    height: 40.8rem;
    line-height: 4.8rem;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
}

#textoIngresado::placeholder{
color: var(--color-uno);
opacity: 1;
}

.divAdvertencia{
    display: flex;
    align-items: center;
    line-height: 1.8rem;
    gap: 10px;
    padding-bottom: 1.6rem;
}

.pAdvertencia{
    font-family: var(--fuente-inter);
    font-weight: 400;
    color: var(--color-tres);
    font-size: 1.2rem;
}

.divBotonesEncriptado{ 
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.buttonEncriptar{
    font-family: var(--fuente-inter);
    font-weight: 400;
    border-radius: 2.4rem;
    width: 100%;
    height: 6.7rem;
    background-color: var(--color-uno);
    color: var(--color-cuatro);
    font-size: 1.6rem;
}

.buttonDesencriptar{
    font-family: var(--fuente-inter);
    font-weight: 400;
    border-radius: 2.4rem;
    width: 100%;
    height: 6.7rem;
    color: var(--color-uno);
    font-size: 1.6rem;
    border: 2px solid var(--color-uno);
    background-color: var(--color-dos);
}

.divImgTextoNoEncontrado{
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.imgTextoNoEncontrado{
    display: none;
}

.divTextoEncriptado{
    padding: 3.2rem;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
    background-color: var(--color-cuatro);
    border-radius: 32px;
}

.divTextoEncriptado h1{
    font-family: var(--fuente-inter);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.88rem;
    color: var(--color-quinto);
}

.divTextoEncriptado p{
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-tres);
}

.divMostrarTextoEncriptado{
    padding: 3.2rem;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    text-align: center;
    background-color: var(--color-cuatro);
    border-radius: 32px;
}

.pMostrarTextoTratado{
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--color-tres);
    overflow-y: auto; 
    word-wrap: break-word; 
    white-space: pre-wrap; 
    text-align: left;
}

.buttonCopiarTexto{
    font-family: var(--fuente-inter);
    font-weight: 400;
    border-radius: 2.4rem;
    width: 100%;
    height: 6.7rem;
    color: var(--color-uno);
    font-size: 1.6rem;
    border: 2px solid var(--color-uno); 
    background-color: var(--color-cuatro);  
}

.footer{
    color:var(--color-dos);
    background-color: var(--color-tres);
    padding: 2.4rem;
    text-align: center;
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    font-weight: 400;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
        .divBotonesEncriptado{ 
            flex-direction: row;
        }
        .divIconoEmuladorHeader{
            display: none;
        }
        .main{
            padding: 0 3.2rem;
        }
        .header{
            padding: 6.4rem 0 6.4rem 3.2rem;
        }
        .imgTextoNoEncontrado{
            display: none;
        }
}


@media only screen and (min-width: 1024px) {
    
    .header{
        display: none;
    }
    .divIconoEmuladorHeader{
        display: block;
        padding-left: 4rem;
    }
    .main{
        flex-direction: row;
        padding: 4rem 4rem 4rem 4rem;
        gap: 4rem;
    }
    .divSeccionIngresarTexto{
        width: 66.6%;
        display: flex;
        flex-direction: column;
    }
    .divBotonesEncriptado{ 
        flex-direction: row;
    }
    .sectionIngresarTexto{
       /*  width: 66.6%; */
        padding-left: 20rem;
        padding-right: 4rem;
    }
    .sectionTextoEncriptado{
        position: relative;
        width: 33.4%;
        margin-top: -40px;
        height: 100%;
    }
    .sectionMostrarTextoEncriptado{
        position: relative;
        width: 33.4%;
        margin-top: -40px;
        height: 100%;
    }
    .divTextoEncriptado{
        height: 100%;
        justify-content: center;
    }
    .imgTextoNoEncontrado{
        display: block;
    }
}
