/* :root {
    --color-uno:#0A3871;
    --color-dos: #F3F5FC;
    --color-tres:#495057;
    --color-cuatro:#ffffff;
    --color-quinto:#343A40;
    --color-hover: #185abd;
    --fuente-inter: "Inter", sans-serif;
} */

/* #BC9F8B  #FFF8E8 #F7EED3 #603F26 #674636 #503C3C*/
:root {
    --color-uno:#BC9F8B;
    --color-dos: #FFF8E8;
    --color-tres:#495057;
    --color-cuatro:#BC9F8B;
    --color-quinto:#343A40;
    --color-seis:#ffffff;
    --color-siete:#503C3C;

    --color-hover: #603F26;
    --fuente-inter: "Inter", sans-serif;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

html {
    font-size: 62.5%;
}

.app{
    background-color:  var(--color-dos);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.inactive{
    display: none;
}

.page-header{
    padding: 3.2rem 0 3.2rem 1.6rem;
    width: 100%;
    height: 9.6rem;
}

.page-header__icon{
    width:3.2rem;
    height: 4.8rem;
}

.encrypt__simulate-header{
    display: none;
}

.page-main{
     padding: 0 1.6rem;   
     display: flex;
     flex: 1;
     flex-direction: column;
     gap: 2rem;
     height: 100%;
     overflow-y: auto;
}

.text-input__field{
    padding: 25px 0px 25px 0px;
    height: auto;
}

#textoIngresado{
    font-family: var(--fuente-inter);
    font-weight: 400;
    color:var(--color-siete);
    background-color:  var(--color-dos);
    font-size: 3.2rem;
    width: 100%;
    height: 19.8rem;
    line-height: 4.8rem;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
}

#textoIngresado::placeholder{
    color: var(--color-uno);
    opacity: 1;
}

.text-input__warning{
    display: flex;
    align-items: center;
    line-height: 1.8rem;
    gap: 10px;
    padding-bottom: 1.6rem;
}

.text-input__warning-message{
    font-family: var(--fuente-inter);
    font-weight: 400;
    color: var(--color-tres);
    font-size: 1.2rem;
}

.text-input__buttons{ 
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.text-input__button--encrypt{
    font-family: var(--fuente-inter);
    font-weight: 400;
    border-radius: 2.4rem;
    width: 100%;
    height: 6.7rem;
    background-color: var(--color-uno);
    color: var(--color-seis);
    font-size: 1.6rem;
    cursor: pointer;
    
}

.text-input__button--encrypt:hover{
    background-color: var(--color-hover);
}

.text-input__button--decrypt{
    font-family: var(--fuente-inter);
    font-weight: 400;
    border-radius: 2.4rem;
    width: 100%;
    height: 6.7rem;
    color: var(--color-uno);
    font-size: 1.6rem;
    border: 2px solid var(--color-uno);
    background-color: var(--color-dos);
    cursor: pointer;
    
}

.text-input__button--decrypt:hover{
    background-color: var(--color-hover);
}

.result__icon-container{
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.result__img{
    display: none;
}

.result{
    padding: 3.2rem;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
    background-color: var(--color-cuatro);
    border-radius: 32px;
}

.result__title{
    font-family: var(--fuente-inter);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.88rem;
    color: var(--color-quinto);
}

.result__message{
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-tres);
}

.out-result{
    padding: 3.2rem;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    text-align: center;
    background-color: var(--color-cuatro);
    border-radius: 32px;
}

.out-result__message{
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--color-seis);
    overflow-y: auto; 
    word-wrap: break-word; 
    white-space: pre-wrap; 
    text-align: left;
}

.out-result__button--copy{
    font-family: var(--fuente-inter);
    font-weight: 400;
    border-radius: 2.4rem;
    width: 100%;
    height: 6.7rem;
    color: var(--color-uno);
    font-size: 1.6rem;
    border: 2px solid var(--color-dos); 
    background-color: var(--color-dos); 
    cursor: pointer; 
}

.out-result__button--copy:hover{
    background-color: var(--color-hover);
}

.page-footer{
    color:var(--color-dos);
    background-color: var(--color-tres);
    padding: 0.7rem;
    text-align: center;
    font-family: var(--fuente-inter);
    font-size: 1.2rem;
    font-weight: 400;
    
}

.page-footer__text{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.page-footer__text:hover{
    color: var(--color-quinto);
    font-weight: 800;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #textoIngresado {
        height: 22.8rem;
    }
    .text-input__buttons{ 
        flex-direction: row;
    }
    .encrypt__simulate-header{
        display: none;
    }
    .page-main{
        padding: 0 3.2rem;
    }
    .page-header{
        padding: 6.4rem 0 6.4rem 3.2rem;
    }
    .result__img{
        display: none;
    }
}


@media only screen and (min-width: 1024px) {
    
    .page-header{
        display: none;
    }
    .encrypt__simulate-header{
        display: block;
        padding-left: 4rem;
    }
    .encrypt__img{
        height: 4.8rem;
    }
    .page-main{
        flex-direction: row;
        padding: 4rem 4rem 4rem 4rem;
        gap: 4rem;
    }
    .encrypt{
        width: 66.6%;
        display: flex;
        flex-direction: column;
    }
    .text-input{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20rem;
        padding-right: 4rem;
        padding-bottom:1.5rem;
    }
    .text-input__field{
        height: 53vh;
        flex-grow: 1;
    }
    .text-input__buttons{ 
        flex-direction: row;
    }
    #textoIngresado{
        height: 100%;
        overflow: auto;
    }
    .show-result {
        width: 33.4%;
    }
    .result {
        height: 100%;
        justify-content: center;
        margin-top: unset;
        margin-bottom: unset;
        padding: 3.2rem 3.2rem 1.5rem 3.2rem;
    }
    .result__img{
        display: block;
    }
     .show-encryption{
        width: 33.4%;
    }
    .out-result{
        height: 100%;
        margin-top: unset;
        margin-bottom: unset;
        padding: 3.2rem 3.2rem 1.5rem 3.2rem;
    }
    .out-result__message {
        height: 56vh;
        flex-grow: 1;
    }
}
